body {
  margin: 5rem;
  display: flex;
  justify-content: center;
  // background-image: url("../img/food-food.jpg");
  // background-size: cover;
}
@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}
